### Java template
*.class
/out/
.idea/
*.iml

# "temporary" build files
/target

# Package Files #
*.jar
*.war
*.ear

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# logs
/stacktrace.log
/test/reports
/logs
